{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "globals": {
    "Lang": true,
    "fbq": true,
    "google": true,
    "FirebasePlugin": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "airbnb/base", "plugin:react/recommended"],
  "rules": {
    "no-var": 2,
    "no-eval": 2,
    "no-array-constructor": 2,
    "no-new-object": 2,
    "no-alert": 0,
    "no-unused-vars": ["error", {
      "vars": "all"
    }],
    "react/jsx-indent": ["error", "tab"],
    "indent": ["error", "tab", {
      "SwitchCase": 1
    }],
    "jsx-quotes": [2, "prefer-double"],
    "comma-dangle": ["error", "only-multiline"],
    "no-underscore-dangle": 0,
    "no-throw-literal": 0,
    "react/no-danger": 0,
    "max-len": ["error", 150]
  }
}
